.image-pic{
	width: 267px;
	height:150px;
	padding-top: 23px;

}
.self {
  width: 100px;
  /*border-radius: 100%;*/
  /*text-align: center;*/
}

.about-info {
  text-align: center;
	color: white;
}
.contact-info {
	color: white;
}
ul li{
  list-style: none;
  display: inline;
  padding-right: 70px;
  color: white;
  font-size: 20px;
}
p{
  font-size: 16px;
  font-weight: normal;
}
a{
  text-decoration: none;
  color:white;
}
ul {
  text-align: center;
}
 nav {
   background-color: black;
   padding:50px;
 }
#contact {
	background-color: black;
	padding: 20px;

}
 address {
	 margin: 0 auto; 
 }
