*{
	border: 1px soilid black;
}
.image-pic {
	width: 267px;
	height:150px;
	padding-top: 23px;
}
.self {
  width: 100px;

}

h1 {
  /*text-align: center;*/

}
.center-self {
	/*text-align: center;*/
	/*margin:0 auto;*/
float:left;
}
.about {
	margin:0 auto;
}
.contact {
	color: white;
	font-size: 100px;
	text-align: center;
	color: black;
}
ul li {
  list-style: none;
  display: inline;
  padding-right: 70px;
  color: white;
  font-size: 20px;
}
p {
  font-size: 16px;
  font-weight: normal;
}
a {
  text-decoration: none;
  color:black;

}
li{
	color:white;
	cursor: pointer;
}
li a {
	color: white;
}
ul {
  text-align: center;

}
 nav {
   background-color: black;
   padding:50px;
	 display:

 }
#contact {
	background-image: url("http://media.istockphoto.com/photos/art-abstract-texture-painted-on-art-canvas-background-picture-id515965424?k=6&m=515965424&s=170667a&w=0&h=Cm8a0t47bPporGEwQOCPpiF3SizXaZWaw2i2Pcgsz4k=");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	padding-top: 50px;
	padding-bottom:600px;
}
.text-color{
	margin-top:60px;
	color:black;
	float:right;
}
.center-self{
	text-align: center;

}
.para-width{
	/*margin:60px;*/
	/*height: 100%;*/
	margin:0 auto;
	width:400px;
	/*float: right;*/
}
div.para-width {
		/*margin: 0 auto;*/
		/*float:right;*/
}
#about{
	background-image: url("http://media.istockphoto.com/photos/art-abstract-texture-painted-on-art-canvas-background-picture-id515965424?k=6&m=515965424&s=170667a&w=0&h=Cm8a0t47bPporGEwQOCPpiF3SizXaZWaw2i2Pcgsz4k=");
background-repeat: no-repeat;
background-size: cover;
	color: black;
	font-size: 30px;
	font-family: cursive;
	font-weight: bolder;
	height: 100%;
	margin-top: 0px;
	padding-top: 50px;
	padding-bottom:600px;
}
@media only screen and (max-width:460px) {
  nav ul li{
    display: block;
    list-style: none;
    /*padding-right: 155px;*/
    /*i {
      padding-right: 20px;
    }*/
		text-align: left;
  }
}
