.image-pic {
	width: 267px;
	height:150px;
	padding-top: 23px;
}
.self {
  width: 100px;
  /*border-radius: 100%;*/
}

h1 {
  text-align: center;

}
.center-self {
	text-align: center;
}
.contact {
	color: white;
}
ul li {
  list-style: none;
  display: inline;
  padding-right: 70px;
  color: white;
  font-size: 20px;
}
p {
  font-size: 16px;
  font-weight: normal;
}
a {
  text-decoration: none;
  color:white;
}
li{
	color:white;
}
ul {
  text-align: center;
}
 nav {
   background-color: black;
   padding:50px;
 }
#contact {
	background-color: black;
}
/*nav:hover ul {*/
  /*display: block;*/
/*}*/
/*nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}*/
@media screen and (min-width:960px) {
  nav ul li {
    display: inline-block;
    list-style: none;
    padding-right: 155px;
    i {
      padding-right: 20px;
    }
  }
}
