.image-pic {
	width: 267px;
	height:150px;
	padding-top: 23px;
}
.self {
  width: 100px;
}

h1 {
  text-align: center;

}
.center-self {
	text-align: center;
}
.contact {
	color: white;
}
ul li {
  list-style: none;
  display: inline;
  padding-right: 70px;
  color: white;
  font-size: 20px;
}
p {
  font-size: 16px;
  font-weight: normal;
}
a {
  text-decoration: none;
  color:white;
}
li{
	color:white;
}
ul {
  text-align: center;
}
 nav {
   background-color: black;
   padding:50px;
 }
#contact {
	background-image: url("http://media.istockphoto.com/photos/art-abstract-texture-painted-on-art-canvas-background-picture-id515965424?k=6&m=515965424&s=170667a&w=0&h=Cm8a0t47bPporGEwQOCPpiF3SizXaZWaw2i2Pcgsz4k=");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}
.text-colors{
	margin-top:100px;
	color:black;
}
.about{
	margin-top:30px;
}
.para-width{
	margin:30px;
	height: 100%;
}
#about{
	background-image: url("http://media.istockphoto.com/photos/art-abstract-texture-painted-on-art-canvas-background-picture-id515965424?k=6&m=515965424&s=170667a&w=0&h=Cm8a0t47bPporGEwQOCPpiF3SizXaZWaw2i2Pcgsz4k=");
background-repeat: no-repeat;
background-size: cover;
	color: black;
	font-size: 30px;
	font-family: cursive;
	height: 100%;
}
@media only screen and (max-width:460px) {
  nav ul li{
    display: block;
    list-style: none;
    /*padding-right: 155px;*/
    /*i {
      padding-right: 20px;
    }*/
		text-align: left;
  }
}
